body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #111;
}
